.facebook-share {
	background-repeat: no-repeat;
	width: 58px;
	height: 18px;
	cursor: pointer;
	font: 12px Verdana,Arial,Helvetica,sans-serif;
}

.facebook-share.plain {
	background-image: url('../images/facebook-share-collapsed.png');
}

.facebook-share.box-count {
	background-image: url('../images/facebook-share-vertical-full.png');
	height: 58px;
}

.facebook-share.horizontal {
	background-image: url('../images/facebook-share-horizontal-full.png');
	width: 97px;
}

.facebook-share.icon {
	background-image: url('../images/facebook-share-icon-32.png');
	width: 32px;
	height: 32px;
}

.facebook-share-inner {
	
}

.facebook-share .facebook-share-count {
	position: relative;
}

.facebook-share.horizontal .facebook-share-count {
	text-align: right;
	padding-right: 4px;
	line-height: 17px;
}

.facebook-share.box-count .facebook-share-count {
	text-align: center;
	padding-top: 6px;
	font-size: 14px;
}

.facebook-share-count.hidden {
	display: none;
}
